html,body{
    margin: 0;
    padding: 0;
}
/* Header */
.lost-found-container {
  background: linear-gradient(to bottom right, #bdf5d1, #f1e6c5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: #2e5d45;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
  margin-left: 20px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}
.title p{
  font-family: 'Courier New', Courier, monospace;
  margin-top: -25px;
  margin-bottom: 0px;
  word-spacing: 0px;
  letter-spacing: 0px;
  font-size: 15px;
}
.header h1{
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
}

/* CONTAINER */

.item-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 50px;
    border: solid darkolivegreen;
    box-shadow: gray;
    border-radius: 10px;
    width: 750px;
    height: 650px;
    margin: auto;
   
}

.item-container h1{
    margin-top: -30px;
    font-weight: 100;
}

.item-container label{
    display: flex;
    text-align: left;
    margin-left: -100px;
    justify-content: flex-start;
}

/* FORMS*/

.forms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-radius: 30px;
}

.forms label{
    margin-left: 0%;
    text-align: left;
}


select{
    margin-top: 5px;
    background-color: #fffde7;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
}

select:invalid {
    color: black;
}

.forms input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: -20px;
    background-color: #fffde7;
    padding: 20px;
    width: 94.5%;
    border-radius: 10px;
}



/*DATE*/



.Date label{
    margin-left: 0%;
    text-align: left;
    margin-top: 10px;
}

/*Location and Last Seen*/
.LaL label{
    margin-left: 0%;
    text-align: left;
    margin-top: 10px;
}

/*BUTTONS*/
.radios {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 30px;  
  margin-top: 20px;
}

.radio-button {
  display: flex;
  align-items: center;  
  justify-content: center;
  gap: 8px;               
  padding: 10px 140px;    
  cursor: pointer;
  background-color: #fffde7;
  border-radius: 8px;
  border: 1px solid black;
  user-select: none;     /* para hindi ma-select accidental yung text */
  width: auto;

}

.radio-button input[type="radio"] {
  margin: 0;             /* para walang extra space */
}

/*OWNERS INFORMATION*/

.owners-name {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 30px;  
  margin-top: 10px;
  width: 100%;

  
}

.contacts {
  flex: 1;
  padding: 10px auto;
  display: flex;
  align-items: center;  
  justify-content: center;
  border-radius:solid;

  
}
.contacts input[type="text"]
{
  background-color: #fffde7;
  padding: 15px;
  margin: 0%;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}
.contacts input[type="tel"] {
  background-color: #fffde7;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin: 0%;
  box-sizing: border-box;
}

.Nav-Buttons a{
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
  border: black;
}
.Nav-Buttons {
  border: black;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-btn {
  background-color: goldenrod;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}







